<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yexiaoxiaogo.signin.dao.UserDao">
	<resultMap id="BaseResultMap" type="io.github.yexiaoxiaogo.signin.domain.User">
		<result column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	
	<parameterMap id="User"
		type="io.github.yexiaoxiaogo.signin.domain.User" />
	<!-- 查询单条记录 -->
	<select id="checkUser" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT * FROM user WHERE username = #{username} AND password = #{password}
	</select>

	<insert id="insertWeather" parameterMap="User">
		insert into user(id,username,password) 
		values(#{id},#{username},#{password})
	</insert>
</mapper>